In [11]:
import pandas as pd
import os

In [13]:
print(os.getcwd())

/Users/bennyogayonne

In [19]:
df = pd.read_csv('/Users/bennyogayonne/Downloads/layoffs.csv')

In [21]:
print(df)

               company       location     industry  total_laid_off  \
0            Atlassian         Sydney        Other           500.0
1             SiriusXM  New York City        Media           475.0
2               Alerzo         Ibadan       Retail           400.0
3               UpGrad         Mumbai    Education           120.0
4                 Loft      Sao Paulo  Real Estate           340.0
...                ...            ...          ...             ...
2356         Blackbaud     Charleston        Other           500.0
2357             Yahoo    SF Bay Area     Consumer          1600.0
2358             Hibob       Tel Aviv           HR            70.0
2359            Casper  New York City       Retail             NaN
2360  Wildlife Studios      Sao Paulo     Consumer           300.0

      percentage_laid_off        date     stage        country  \
0                    0.05    3/6/2023  Post-IPO      Australia
1                    0.08    3/6/2023  Post-IPO  United States
2                     NaN    3/6/2023  Series B        Nigeria
3                     NaN    3/6/2023   Unknown          India
4                    0.15    3/3/2023   Unknown         Brazil
...                   ...         ...       ...            ...
2356                 0.14         NaN  Post-IPO  United States
2357                 0.20    2/9/2023  Acquired  United States
2358                 0.30   3/30/2020  Series A         Israel
2359                  NaN   9/14/2021  Post-IPO  United States
2360                 0.20  11/28/2022   Unknown         Brazil

      funds_raised_millions
0                     210.0
1                     525.0
2                      16.0
3                     631.0
4                     788.0
...                     ...
2356                    NaN
2357                    6.0
2358                   45.0
2359                  339.0
2360                  260.0

[2361 rows x 9 columns]

In [ ]:
##THE COUNTRIES WITH THE MOST/LEAST LAYOFFS

In [27]:
us_layoffs = df[df['country'] == 'United States']

In [31]:
total_us_layoffs = us_layoffs['total_laid_off'].sum()
print ("The total number of layoffs in the United States is: ", total_us_layoffs)

The total number of layoffs in the United States is:  256474.0

In [33]:
country_layoffs = df.groupby('country')['total_laid_off'].sum()

In [35]:
max_layoffs_country = country_layoffs.idxmax()
max_layoffs_number = country_layoffs.max()

In [61]:
print (f"The country with the most layoffs is {max_layoffs_country} with {max_layoffs_number} layoffs.")

The country with the most layoffs is United States with 256474.0 layoffs.

In [53]:
country_layoffs1 = df.groupby('country')['total_laid_off'].sum()

In [59]:
min_layoffs_country = country_layoffs1.idxmin()
min_layoffs_number = country_layoffs1.min()

In [65]:
print (f"The country with the least layoffs is {min_layoffs_country} with {min_layoffs_number} layoffs.")

The country with the least layoffs is Bahrain with 0.0 layoffs.

In [71]:
average_layoffs = df['total_laid_off'].mean()

In [75]:
print (f"The average layoffs is: {average_layoffs:.2f}.")

The average layoffs is: 238.36.

In [ ]:
##THE INDUSTRIES WITH THE MOST/LEAST LAYOFFS

In [77]:
industry_layoffs = df.groupby('industry')['total_laid_off'].sum()

In [81]:
max_layoffs_industry = industry_layoffs.idxmax()
max_layoffs_number = industry_layoffs.max()

In [91]:
print (f"The industry with the most layoffs is the {max_layoffs_industry} industry, with {max_layoffs_number} layoffs.")

The industry with the most layoffs is the Consumer industry, with 46682.0 layoffs.

In [89]:
industry_layoffs1 = df.groupby ('industry')['total_laid_off'].sum()

In [95]:
min_layoffs_industry = industry_layoffs1.idxmin()
min_layoffs_number = industry_layoffs1.min()

In [101]:
print(f"The industry with the least layoffs is the {min_layoffs_industry} industry, with {min_layoffs_number} layoffs.")

The industry with the least layoffs is the Manufacturing industry, with 20.0 layoffs.

In [ ]:
##THE COMPANY WITH THE MOST LAYOFFS

In [105]:
company_layoffs = df.groupby ('company')['total_laid_off'].sum()

In [107]:
max_company_layoffs = company_layoffs.idxmax()
max_company_number = company_layoffs.max()

In [111]:
print (f"The company with the most layoffs is {max_company_layoffs} with {max_company_number} layoffs.")

The company with the most layoffs is Amazon with 18150.0 layoffs.